*{
  font-size: 40px
}


#hint1{
  visibility: hidden;
}

#hint2{
  z-index: 0;
}

#hint3{
  width: auto;
  color: red;
  background-color: white;
  border: solid 5px;
  border-radius: 5px;
  box-sizing:border-box;
  position: fixed;
  display: block;
  left: 100px;
  top: 275px;
  margin: auto;
  z-index: 1;
  visibility: hidden;
}

#clear{
  width: auto;
  color: green;
  background-color: white;
  border: solid 5px;
  border-radius: 5px;
  box-sizing:border-box;
  position: fixed;
  display: block;
  left: 20%;
  z-index: 2;
  visibility: hidden;
}

#hint1 span:nth-child(3n){
  color: red;
}
#hint1 span:nth-child(3n+1){
  color: green;
}
#hint1 span:nth-child(3n+2){
  color: blue;
}

#title:active + #hint1{
  visibility: visible;
}

#chi:active > #hint3{
  visibility: visible;
}

#sa:active > #clear{
  visibility: visible;
}
