*{
  background-color: black;
  font-size: 40px
}

*:hover{
  background-color: white
}

.title{
  background-color: black;
  color: yellow;
}


.hint1{
  background-color: black;
}

.hint1:active{
  background-color: white;
}

.hint2{
  color: red;


}
